# Byte-compiled files
__pycache__/
*.pyc

# Environment
.env
venv/
*.env

# OS-specific files
.DS_Store

# Python tools
*.pyo
*.pyd

# Logs
*.log

# Other
.idea/
.vscode/

.ignore/

.ipynb_checkpoints/
scratch*.ipynb
